body{
    background-color: skyblue;
}
hr{
    border-style: dotted;
    border-top-style: none;
    /* border-width: thin; */
    border-color: #B20600;
    border-width: 7px;
    width:7%;
}

h1{
    color:magenta;
}

h3{
    color: #EEEEEE;
}